<div class="force-full-screen full-screen dark section nopadding nomargin noborder ohidden home-background" ng-init="init()">

	<div class="container clearfix">
		<div class="slider-caption slider-caption-center">
			<h2 data-animate="fadeInDown">Inicijator</h2>
			<p data-animate="fadeInUp" data-delay="200">Na ovom sajtu možete pogledati inicijative koje su pokrenuli drugi studenti, podržati ih, ili pokrenuti neku svoju.</p>
			<a data-animate="fadeInUp" data-delay="400" href="#/list" class="button button-border button-light button-rounded button-large noleftmargin nobottommargin topmargin-sm">Prelistajte inicijative</a>
		</div>
	</div>

</div>